#lab_form{
	margin:100px;
	box-shadow: 2px black;
	margin-left: 200px;
	margin-right: 200px;
	height: 500px;;
	
}
#form_col{
	width:60%;
	text-align:left;
	vertical-align:top;
	padding: 0px 0px 0px 30px;
	
}
#img_col{
	width:40%;
}
#lab_head{
	font-size:25px;
	margin:20px;
	margin-left:0px;
	
}
.input_fld{
	margin:10px;
	width:200px;
	height:20px;
}
#dist,#district,#test,#hcopy{
	margin:10px;
	font-size:20px;
	width:120px;
	height:25px;
	
}
#dropdown{
	font-size:15px;
}
#start,#hcopy,#appt{
	font-size:20px;
	margin:10px;
	margin-top:15px;
}
#select,#appt{
	margin:10px;
	margin-bottom:0px;
	font-size:20px;
}
#form_cell{
	height:500px;
	overflow-y:scroll;
	
}
#buttons{
	background:rgb(136, 100, 221);
	color:white;
	font-size:25px;
	margin:10px;
	padding:5px 10px;
	border-color:white;
	border-radius:10px;
}
#submit_area{
	text-align:center;
	margin-bottom:50px;
}

.input_fld{
	border: white solid;
	border-bottom: black solid 1px;
	height: 30px; width: 400x;
	margin-bottom: 50px;
}

#lab_form{
	border: 10px;
	border-style: ridge;

}
